:root{
     --color1: #0C5B94;
     --color2: #B3DFFF;
     --color3: #51A5E0;
     --color4: #946218;
     --color5: #E9BC79;
}



/*Default margin around page*/
*{
    margin: 5px;
}

/*Centers the title on Top Pick Page to middle of page*/
.TopPickDiv{
    text-align: center;
}

/*Sets the display format for content in this section*/
.navbar-start{
    display: block;
}

/*Sets color for nav bar link*/
#navbar-toplink, #TopPickTitle{
    color: var(--color5);
}

/*Sets font size and weight of h1 title*/
h1{
    font-size: xx-large;
    font-weight: bold;
}

/*sets the background and font color for header*/
header{
    background-color: var(--color1);
    color: white;
}

/*sets boarder around search div*/
#search{
    border: 2px solid;
}

/*Sets the length on the input fields*/
#txtsearchval1, #txtsearchval2{
    width: 250px;
}

/*even out the spacing between the two cards for movie compare results*/
#searchresults{
    justify-content: space-between;
}

/*controls the backgroundcolor for the two moview results*/
#searchresult1, #searchresult2{
    background-color: lightgray;
    
}

/*Center the top result picks on the page*/
#TopPickResults{
    text-align: center;
}

/*eliminates the marking infront of the top pick results list*/
#listtoppickscore, #listtoppickname{
    list-style-type: none;
}

/*Sets the nav-menu to be flex and background color to be black when screen is small then 1023*/
@media screen and (max-width:1023px) {
    .navbar-menu{
        display: flex;
        background-color: black;
    }
}

/*sets the div to be hidden on page load will make it viewable in javascript when search occurs*/
.hide{
    display: none;
}

/**/
.Instructions{
    font-weight: bold;
    font-size: x-large;
}

/*set the list to be next to each other*/
#fact1{
    display: inline-flex;
    justify-content: center;
}

/*set the margin on bottom font size and width on of list*/
#listtoppickscore li{
    font-size: x-large;
    width: 40px;
    margin-bottom: 5px;
}

/*set the margin on bottom font size and width on of list*/ 
#listtoppickname li{
       font-size: x-large;
       margin-bottom: 5px;
       width: 200px;
}